* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navbar */

li, a, button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: grey;
}

.logo {
    height: 50px;
    width: auto;
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: skyblue;
}

button {
    padding: 9px;
    background-color: rgba(0,136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
} 

button:hover {
    background-color: rgba(0,136, 169, 0.8);
}

button::after{
    clear: all;
}
/* First Block */

.flex-container {
    display: flex;
    flex: auto;
    background-color: rgb(80, 80, 255);
    justify-content: space-between;
}
.flex-container .container-left {
    display: flex;
    height: 300px;
    width: 500px;
    padding-left: 100px;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    color: antiquewhite;
}

.flex-container .container-right{
    display: flex;
    width: 500px;
    flex-direction: row;
    align-items: flex-start;
}
.flex-container .container-right img{
    height: 300px;
    padding: 25px;
}
/* Next Section */

.flex-container-2 {
    flex-direction: row;
    background-color: white;
    flex: auto;
}

.flex-container-2 h1 {
    padding: 50px;
    text-align: center;
}

.box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.box {
    background-color: white;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    border-radius: 15px;
    height: 200px;
    width: 200px;
}
.texty {
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    width: 200px;
    text-align: center;
    min-height: 100px;
}

/* Quote Section */

.quote_block {
    background-color: aliceblue;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote_block p {
    text-align: left;
    justify-content: space-around;
    max-width: 500px;
    padding-top: 50px;
    padding-bottom: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.quote_block h3 {
    text-align: right;
    padding-left: 250px;
    padding-bottom: 50px;
}
/* SIGN UP BLOCK */

.signup_container {
    display: flex;
    height: 300px;
    background-color: azure;
    justify-content: space-around;
    align-items: center;
}
.form_container {
    width: 800px;
    height: 150px;
    padding: 20px;
    display: flex;
    background-color: #3882F6;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}
.signup {
    color: white;
}
.signup h2 {
padding-bottom: 10px;
}
.button_sign button {
    border-color: white;
    border-style: groove;
    background-color: transparent;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    color: white;
}
/* FOOTER */
footer {
    display: flex;
    background-color: darkblue;
    color: white;
    height: 50px;
    align-items: center;
    justify-content: center;
}
footer p {
    text-align: center;
}